<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <mvc:annotation-driven/>
    <bean id="trainerController" class="com.ideas2it.controller.TrainerController">
        <constructor-arg ref="employeeService"/>
    </bean>
    <bean id="traineeController" class="com.ideas2it.controller.TraineeController">
        <constructor-arg ref="employeeService"/>
    </bean>
    <bean id="employeeService" class="com.ideas2it.service.impl.EmployeeServiceImpl">
        <constructor-arg ref="employeeDao"/>
    </bean>
    <bean id="employeeDao" class="com.ideas2it.dao.impl.EmployeeDaoImpl"/>
</beans>